body {
  margin: 0;
}

.burger-menu {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .burger-menu {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #292929;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    z-index: 3;
    -webkit-transform: translate(3000px, 0);
            transform: translate(3000px, 0);
    -webkit-transition: -webkit-transform 0.75s;
    transition: -webkit-transform 0.75s;
    transition: transform 0.75s;
    transition: transform 0.75s, -webkit-transform 0.75s;
  }
  .burger-menu .burger-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 130px;
  }
  .burger-menu .burger-wraper .logo {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
  .burger-menu .burger-wraper .logo .logo-title {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .burger-menu .burger-wraper .logo .logo-subtitle {
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;
  }
  .burger-menu .burger-wraper .burger-image-open {
    width: 30px;
    height: 30px;
    margin-right: 43px;
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
  .burger-menu .burger-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .burger-menu .burger-navigation ul li {
    list-style: none;
    margin: 0 auto 40px;
  }
  .burger-menu .burger-navigation ul li a {
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
    color: #CDCDCD;
    text-decoration: none;
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
  .burger-menu .burger-navigation ul li a:hover {
    color: #FAFAFA;
  }
  .burger-menu .burger-navigation ul li .active-burger {
    color: #FAFAFA;
    border-bottom: solid 3px #F1CDB3;
    padding-bottom: 4px;
  }
  .burger-menu .burger-navigation ul .burger-image {
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 40px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
}

@media (min-width: 320px) and (max-width: 767px) and (min-width: 320px) and (max-width: 767px) {
  .burger-menu .burger-navigation ul .burger-image {
    display: block;
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
}

.main-overlay {
  opacity: 0;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}

.main-overlay.display {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-overlay.display {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
    opacity: 0.6;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .burger-menu.open {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.header-wraper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100vw;
}

header {
  padding: 30px auto 30px;
  margin: 0 auto 0;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  header {
    margin: 0 30px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  header {
    margin: 0 10px 0;
  }
}

header .logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

header .logo .logo-title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
  margin-bottom: 8px;
  margin-top: 0;
}

header .logo .logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #292929;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .logo .logo-subtitle {
    margin-left: 4px;
  }
}

header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation ul li {
  list-style: none;
}

header .navigation ul li a {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #545454;
  margin-left: 36px;
  text-decoration: none;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

header .navigation ul li a:hover {
  color: #292929;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .navigation ul li a {
    display: none;
  }
}

header .navigation ul li .active {
  color: #292929;
  border-bottom: solid 3px #F1CDB3;
  padding-bottom: 4px;
}

header .navigation ul .burger-image {
  margin-right: 43px;
  display: none;
}

@media (max-width: 767px) {
  header .navigation ul .burger-image {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  header .navigation ul .burger-image {
    display: none;
  }
}

.grey {
  background-color: #F6F6F6;
}

.grey .grey-section {
  background-color: #F6F6F6;
  padding: 81px 40px 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1279px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey .grey-section {
    padding: 79px 53px 72px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section {
    padding: 43px 10px 39px;
  }
}

.grey .grey-section h3 {
  margin: 0 0 60px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey .grey-section h3 {
    margin: 0 0 30px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section h3 {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 43px;
    margin-top: -1px;
  }
}

.grey .grey-section .block-with-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey .grey-section .block-with-cards {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .block-with-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grey .grey-section .block-with-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FAFAFA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 9px;
}

.grey .grey-section .block-with-cards .card img {
  width: 270px;
  height: 270px;
  margin-bottom: 9px;
}

.grey .grey-section .block-with-cards .card .name {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  padding: 0 auto 30px;
}

.grey .grey-section .block-with-cards .card .button-more-info {
  width: 187px;
  height: 52px;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  border-radius: 50px;
  border: 2px solid #F1CDB3;
  margin-top: 10px;
  background: #FAFAFA;
  color: #292929;
}

.grey .grey-section .block-with-cards .card:hover {
  background-color: #FFFFFF;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

.grey .grey-section .block-with-cards .card:hover .button-more-info {
  background-color: #FDDCC4;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border: none;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey .grey-section .block-with-cards .none-display-card {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .block-with-cards .none-display-card {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .block-with-cards .min-size {
    display: none;
  }
}

.grey .grey-section .pagination-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey .grey-section .pagination-block {
    margin: 13px auto 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .pagination-block {
    margin: 10px auto 0;
  }
}

.grey .grey-section .pagination-block .double-arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  width: 52px;
  border-radius: 50px;
  border: 2px solid #F1CDB3;
  margin: 0 10px 0;
  background-color: #f5f5f5;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .pagination-block .double-arrow-left {
    margin: 2px 4px 0;
  }
}

.grey .grey-section .pagination-block .double-arrow-left img {
  width: 27px;
  height: 23px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.grey .grey-section .pagination-block .single-arror-left {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  width: 52px;
  border-radius: 50px;
  border: 2px solid #F1CDB3;
  margin: 0 10px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .pagination-block .single-arror-left {
    margin: 2px 4px 0;
  }
}

.grey .grey-section .pagination-block .single-arror-left img {
  width: 13px;
  height: 23px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.grey .grey-section .pagination-block .single-arror-right {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  width: 52px;
  border-radius: 50px;
  border: 2px solid #F1CDB3;
  margin: 0 10px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .pagination-block .single-arror-right {
    margin: 2px 4px 0;
  }
}

.grey .grey-section .pagination-block .single-arror-right img {
  width: 13px;
  height: 23px;
}

.grey .grey-section .pagination-block .double-arrow-right {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  width: 52px;
  border-radius: 50px;
  border: 2px solid #F1CDB3;
  margin: 0 10px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .pagination-block .double-arrow-right {
    margin: 2px 4px 0;
  }
}

.grey .grey-section .pagination-block .double-arrow-right img {
  width: 27px;
  height: 23px;
}

.grey .grey-section .pagination-block .counter {
  display: inline;
  background-color: #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  width: 52px;
  border-radius: 50px;
  border: 2px solid #F1CDB3;
  margin: 0 10px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .pagination-block .counter {
    margin: 2px 4px 0;
  }
}

.grey .grey-section .pagination-block .disabled {
  border-color: #CDCDCD;
}

.grey .grey-section .pagination-block .disabled img {
  opacity: 0.33;
}

.grey .grey-section .pagination-block .active-hover:hover {
  background-color: #FDDCC4;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border: none;
  cursor: url(../../assets/icons/pointer.svg), pointer;
  background-color: #F1CDB3;
}

.footer {
  background: url(../../assets/images/bg.svg), linear-gradient(106deg, #745844 0%, #3e332d 30%, #21201f 90%, #232122 100%);
}

.footer .footer-wraper {
  padding: 40px 40px 0;
  background-image: url(../../assets/images/gradient.jpeg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 45px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .footer-wraper .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 61%;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info {
    width: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.footer .footer-wraper .footer-info .part {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info .part {
    margin-top: 0px;
    margin-left: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info .part {
    margin: 17px 0 0;
  }
  .footer .footer-wraper .footer-info .part:last-child {
    margin: 37px 0 0;
  }
}

.footer .footer-wraper .footer-info .part h4 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info .part h4 {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 3px;
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer .footer-wraper .footer-info .part h4 br {
    display: none;
  }
}

.footer .footer-wraper .footer-info .part .list {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer .footer-wraper .footer-info .part .list img {
  width: 40px;
  height: 32px;
  margin-right: 20px;
}

.footer .footer-wraper .footer-info .part .list .email-icon {
  margin-left: 24px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info .part .list .email-icon {
    margin-right: 18px;
    margin-left: 0;
  }
}

.footer .footer-wraper .footer-info .part .list .phone-icon {
  margin-left: 30px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info .part .list .phone-icon {
    margin-right: 18px;
    margin-left: 0;
  }
}

.footer .footer-wraper .footer-info .part .list .marker {
  width: 22px;
  height: 32px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info .part .list .marker {
    margin-right: 20px;
  }
}

.footer .footer-wraper .footer-info .part .list span {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
}

.footer .footer-wraper .footer-info .part .list.address, .footer .footer-wraper .footer-info .part .last-child {
  margin-top: 33px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info .part .list.address, .footer .footer-wraper .footer-info .part .last-child {
    margin-top: 39px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info .part:last-child {
    margin-right: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-wraper .footer-image img {
  width: 300px;
  margin-top: 62px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-image img {
    width: 260px;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */