html {
  scroll-behavior: smooth;
  cursor: url(../../assets/icons/mouse.svg), auto;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  body {
    background-color: white;
  }
}

body .burger-menu {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  body .burger-menu {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: #292929;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    z-index: 3;
    -webkit-transform: translate(3000px, 0);
            transform: translate(3000px, 0);
    -webkit-transition: -webkit-transform 0.75s;
    transition: -webkit-transform 0.75s;
    transition: transform 0.75s;
    transition: transform 0.75s, -webkit-transform 0.75s;
  }
  body .burger-menu .burger-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 130px;
  }
  body .burger-menu .burger-wraper .logo {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
  body .burger-menu .burger-wraper .logo .logo-title {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
    margin-bottom: 10px;
    margin-top: 0;
  }
  body .burger-menu .burger-wraper .logo .logo-subtitle {
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;
  }
  body .burger-menu .burger-wraper .burger-image-open {
    width: 30px;
    height: 30px;
    margin-right: 43px;
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
  body .burger-menu .burger-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  body .burger-menu .burger-navigation ul li {
    list-style: none;
    margin: 0 auto 40px;
  }
  body .burger-menu .burger-navigation ul li a {
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
    color: #CDCDCD;
    text-decoration: none;
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
  body .burger-menu .burger-navigation ul li a:hover {
    color: #FAFAFA;
  }
  body .burger-menu .burger-navigation ul li .active-burger {
    color: #FAFAFA;
    border-bottom: solid 3px #F1CDB3;
    padding-bottom: 4px;
  }
  body .burger-menu .burger-navigation ul .burger-image {
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 40px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
}

@media (min-width: 320px) and (max-width: 767px) and (min-width: 320px) and (max-width: 767px) {
  body .burger-menu .burger-navigation ul .burger-image {
    display: block;
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
}

body .main-overlay {
  opacity: 0;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}

body .main-overlay.display {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  body .main-overlay.display {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
    opacity: 0.6;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body .burger-menu.open {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

body .brown {
  background: url(../../assets/images/bg.svg), linear-gradient(106deg, #745844 0%, #3e332d 30%, #21201f 90%, #232122 100%);
}

body .brown-section {
  padding: 60px 40px 0;
  background-image: url(../../assets/images/gradient.jpeg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1279px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  body .brown-section {
    padding: 30px 30px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body .brown-section {
    padding: 30px 10px 0;
  }
}

body .brown-section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .brown-section header .logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

body .brown-section header .logo .logo-title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
  margin-bottom: 10px;
  margin-top: 0;
}

body .brown-section header .logo .logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFFFFF;
}

body .brown-section header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .brown-section header .navigation ul li {
  list-style: none;
}

body .brown-section header .navigation ul li a {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #CDCDCD;
  margin-left: 35px;
  text-decoration: none;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

body .brown-section header .navigation ul li a:hover {
  color: #FAFAFA;
}

@media (min-width: 320px) and (max-width: 767px) {
  body .brown-section header .navigation ul li a {
    display: none;
  }
}

body .brown-section header .navigation ul li .active {
  color: #FAFAFA;
  border-bottom: solid 3px #F1CDB3;
  padding-bottom: 4px;
}

body .brown-section header .navigation ul .burger-image {
  display: none;
  width: 30px;
  height: 30px;
  margin-right: 40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  body .brown-section header .navigation ul .burger-image {
    display: block;
    cursor: url(../../assets/icons/pointer.svg), pointer;
  }
}

.greeting-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .greeting-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .greeting-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.greeting-block .greeting {
  max-width: 460px;
  margin-right: 46px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .greeting-block .greeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .greeting-block .greeting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.greeting-block .greeting h2 {
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  color: #FFFFFF;
  padding-bottom: 42px;
  padding-top: 164px;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .greeting-block .greeting h2 {
    padding-top: 0px;
    margin: 1px 0 -2px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .greeting-block .greeting h2 {
    padding-top: 0px;
    margin: -1px 0 -2px;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.greeting-block .greeting p {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #CDCDCD;
  padding-bottom: 42px;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .greeting-block .greeting p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
}

.greeting-block .greeting .our-friend {
  text-decoration: none;
  color: #292929;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .greeting-block .greeting .our-friend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
  }
}

.greeting-block .greeting .our-friend .main-button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F1CDB3;
  width: 207px;
  height: 52px;
  border-radius: 40px;
  border: none;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
}

.greeting-block .greeting .our-friend .main-button:hover {
  background-color: #FDDCC4;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border: none;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

.greeting-block .image {
  width: 698px;
  height: 728px;
  background-image: url(../../assets/images/puppy.png);
  background-size: cover;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .greeting-block .image {
    width: 569px;
    height: 593px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .greeting-block .image {
    width: 260px;
    height: 272px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 105px;
  }
}

.white-section {
  padding: 60px 40px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1279px;
  margin: auto;
  margin-top: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .white-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 40px 100px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 25px;
  }
}

.white-section .about-pets-img {
  background-image: url(../../assets/images/about-pets.png);
  background-size: cover;
  width: 300px;
  height: 408px;
  margin: 11px 60px 0 175px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .white-section .about-pets-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 66px;
    margin-right: 176px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-section .about-pets-img {
    width: 260px;
    height: 354px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 40px auto;
  }
}

.white-section .about-pets-info {
  max-width: 430px;
  margin: 0 175px 0 60px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .white-section .about-pets-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-section .about-pets-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

.white-section .about-pets-info h3 {
  margin: 0 0 60px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  text-align: left;
  margin: 27px 0 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-section .about-pets-info h3 {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .white-section .about-pets-info h3 {
    margin: 14px 0 9px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-section .about-pets-info h3 {
    margin: 34px auto 0;
  }
}

.white-section .about-pets-info p {
  color: #4C4C4C;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 25px 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .white-section .about-pets-info p {
    margin: 14px 0 13px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-section .about-pets-info p {
    margin-top: 24px;
    margin-bottom: 0;
    text-align: justify;
  }
}

.grey {
  background-color: #F6F6F6;
}

.grey .grey-section {
  background-color: #F6F6F6;
  padding: 60px 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1279px;
  margin: auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section {
    padding: 0 10px 100px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section {
    padding: 0 10px 42px;
  }
}

.grey .grey-section h3 {
  margin: 0 0 60px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  text-align: center;
  margin: 21px 0 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section h3 {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section h3 {
    margin: 44px auto 41px;
  }
}

.grey .grey-section .block-with-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 15px 60px;
}

.grey .grey-section .block-with-cards .card {
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FAFAFA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .block-with-cards .card {
    margin-bottom: 54px;
  }
}

.grey .grey-section .block-with-cards .card img {
  width: 270px;
  height: 270px;
  margin-bottom: 10px;
}

.grey .grey-section .block-with-cards .card .name {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 30px;
}

.grey .grey-section .block-with-cards .card .button-more-info {
  width: 187px;
  height: 52px;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  border-radius: 50px;
  border: 2px solid #F1CDB3;
  padding: 0 auto 30px;
  background: #FAFAFA;
  color: #292929;
}

.grey .grey-section .block-with-cards .card:hover {
  background-color: #FFFFFF;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

.grey .grey-section .block-with-cards .card:hover .button-more-info {
  background-color: #FDDCC4;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border: none;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey .grey-section .block-with-cards .third-card {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .block-with-cards .third-card {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .block-with-cards .second-card {
    display: none;
  }
}

.grey .grey-section .block-with-cards .arrow {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
}

.grey .grey-section .block-with-cards .arrow img {
  width: 14px;
  color: #292929;
}

.grey .grey-section .block-with-cards .arrow .arrow-left {
  width: 14px;
  color: #292929;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.grey .grey-section .block-with-cards .arrow:hover {
  background-color: #FDDCC4;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border: none;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

.grey .grey-section .block-with-cards .left {
  bottom: 194px;
  left: -26px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey .grey-section .block-with-cards .left {
    bottom: 194px;
    left: -26px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .block-with-cards .left {
    bottom: -16px;
    left: 43px;
  }
}

.grey .grey-section .block-with-cards .right {
  bottom: 194px;
  right: -26px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey .grey-section .block-with-cards .right {
    bottom: 194px;
    right: -26px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey .grey-section .block-with-cards .right {
    bottom: -16px;
    right: 43px;
  }
}

.grey .pets-link {
  color: #292929;
  text-decoration: none;
  text-decoration: none;
}

.grey .pets-link .grey-section-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1CDB3;
  border-radius: 50px;
  border: none;
  width: 261px;
  height: 52px;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  margin: 0 auto 0;
}

.grey .pets-link .grey-section-button:hover {
  background-color: #FDDCC4;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border: none;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

.white-help-section {
  margin: 80px auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-help-section {
    margin: 36px auto 68px;
  }
}

.white-help-section h3 {
  margin: 0 0 60px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-help-section h3 {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-help-section h3 {
    padding-top: 6px;
  }
}

.white-help-section .help-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-bottom: -56px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .white-help-section .help-options {
    padding: 0 25px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-help-section .help-options {
    margin-top: 41px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px 0;
  }
}

.white-help-section .help-options .help-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .white-help-section .help-options .help-card {
    width: 170px;
    height: 113px;
    margin: 27px 30px 27px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-help-section .help-options .help-card {
    width: 130px;
    height: 87px;
    margin: 0 0px 30px;
  }
}

.white-help-section .help-options .help-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-help-section .help-options .help-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 21px;
  }
}

.white-help-section .help-options .help-card p {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin: 0 auto 55px;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .white-help-section .help-options .help-card p {
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
}

.grey-section-with-donation {
  background-color: #F6F6F6;
  padding: 80px 182px 80px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey-section-with-donation {
    padding: 40px 0px 42px;
  }
}

.grey-section-with-donation .grey-wraper {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 915px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey-section-with-donation .grey-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey-section-with-donation .grey-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.grey-section-with-donation .grey-wraper .donation-image img {
  width: 505px;
  margin: 10px 0 10px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey-section-with-donation .grey-wraper .donation-image img {
    margin: 35px -51px 14px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey-section-with-donation .grey-wraper .donation-image img {
    width: 260px;
    margin: 24px 0 -4px;
  }
}

.grey-section-with-donation .grey-wraper .donation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey-section-with-donation .grey-wraper .donation-info {
    margin: 5px 10px 5px 12px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey-section-with-donation .grey-wraper .donation-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

.grey-section-with-donation .grey-wraper .donation-info h3 {
  margin: 0 0 60px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  text-align: left;
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey-section-with-donation .grey-wraper .donation-info h3 {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 0;
  }
}

.grey-section-with-donation .grey-wraper .donation-info span {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
  margin: 20px 0 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey-section-with-donation .grey-wraper .donation-info span {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
  }
}

.grey-section-with-donation .grey-wraper .donation-info .donation {
  background-color: #F1CDB3;
  border: none;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey-section-with-donation .grey-wraper .donation-info .donation {
    width: 281px;
    height: 43px;
  }
}

.grey-section-with-donation .grey-wraper .donation-info .donation img {
  width: 30px;
}

.grey-section-with-donation .grey-wraper .donation-info .donation a {
  text-decoration: none;
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey-section-with-donation .grey-wraper .donation-info .donation a {
    font-size: 15px;
    line-height: 110%;
  }
}

.grey-section-with-donation .grey-wraper .donation-info .donation:hover {
  background-color: #FDDCC4;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border: none;
  cursor: url(../../assets/icons/pointer.svg), pointer;
}

.grey-section-with-donation .grey-wraper .donation-info .legal-info {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #B2B2B2;
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .grey-section-with-donation .grey-wraper .donation-info .legal-info {
    margin: 19px 21px;
  }
  .grey-section-with-donation .grey-wraper .donation-info .legal-info br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .grey-section-with-donation .grey-wraper .donation-info .legal-info br {
    display: none;
  }
}

.footer {
  background: url(../../assets/images/bg.svg), linear-gradient(106deg, #745844 0%, #3e332d 30%, #21201f 90%, #232122 100%);
}

.footer .footer-wraper {
  padding: 40px 40px 0;
  background-image: url(../../assets/images/gradient.jpeg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 45px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .footer-wraper .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 61%;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info {
    width: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.footer .footer-wraper .footer-info .part {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info .part {
    margin-top: 0px;
    margin-left: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info .part {
    margin: 17px 0 0;
  }
  .footer .footer-wraper .footer-info .part:last-child {
    margin: 37px 0 0;
  }
}

.footer .footer-wraper .footer-info .part h4 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info .part h4 {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 3px;
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer .footer-wraper .footer-info .part h4 br {
    display: none;
  }
}

.footer .footer-wraper .footer-info .part .list {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer .footer-wraper .footer-info .part .list img {
  width: 40px;
  height: 32px;
  margin-right: 20px;
}

.footer .footer-wraper .footer-info .part .list .email-icon {
  margin-left: 24px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info .part .list .email-icon {
    margin-right: 18px;
    margin-left: 0;
  }
}

.footer .footer-wraper .footer-info .part .list .phone-icon {
  margin-left: 30px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info .part .list .phone-icon {
    margin-right: 18px;
    margin-left: 0;
  }
}

.footer .footer-wraper .footer-info .part .list .marker {
  width: 22px;
  height: 32px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info .part .list .marker {
    margin-right: 20px;
  }
}

.footer .footer-wraper .footer-info .part .list span {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
}

.footer .footer-wraper .footer-info .part .list.address, .footer .footer-wraper .footer-info .part .last-child {
  margin-top: 33px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-info .part .list.address, .footer .footer-wraper .footer-info .part .last-child {
    margin-top: 39px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-info .part:last-child {
    margin-right: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-wraper .footer-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 62px;
  }
}

.footer .footer-wraper .footer-image img {
  width: 300px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-wraper .footer-image img {
    width: 260px;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */